html {
  margin: 0;
  padding: 0;
  border: 0;

  vertical-align: baseline;
}
body {
  font-family: 'Exo', sans-serif;
  font-size: 48px;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 1em;
}
#wrapper{
  margin: 2%
}
#mainlogo {
  width: 20%;
  position: absolute;
  left: 40%;
  top: 1%;
}


}
